version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: production          # или убрать target → будет dev-вариант
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - NODE_ENV=${NODE_ENV}
      - PORT=${PORT}
      # лучше передавать все через env_file
    env_file:
      - .env
    restart: unless-stopped

  db:
    image: postgres:17-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - "5433:5432"               # 5433 на хосте, чтобы не конфликтовать с локальным postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata: